<footer class="footer">
  <div class="text-center">
    <!--社群小圖標-->
    <div class="container">
          <ul class="social-network social-circle">
            <li><a href="http://twitter.com/" class="icoTwitter" title="Twitter">   <i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/" class="icoGithub" title="Github">     <i class="fa fa-github"></i></a></li>
            <li><a href="http://google.com/" class="icoGoogle" title="Google">      <i class="fa fa-google"></i></a></li>
            <li><a href="http://facebook.com/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          </ul>
    </div>
    <!--底部文字-->
    <p>
      Copyright ©2017 JDStore
      <br>Design by yaya & bamu
    </p>
  </div>
</footer>
